.container{
  background-color: darkcyan;
  height: 100%;
}

.toolbar{
  height: 10%;
}

.example-container {
  height: 90%;
  background-color: blueviolet;
}

.example-sidenav {
  width: 15%;
  background-color: navajowhite;
}

.btn-1{
  margin-top: 20%;
  margin-bottom: 20%;
}
